<div id="wrapper" class="be-wrapper fixed-nav-basic be-fixed-sidebar">
        
        <!-- <div id="page-wrapper" class="gray-bg"> -->
                <!-- Top Navbar -->
                <app-progress-bar></app-progress-bar>
                <app-header></app-header> 
                
                <app-sidebar></app-sidebar>
                <!-- Main view  -->
                <div class="be-content">
                         <router-outlet></router-outlet>
                </div>
                <!-- Footer -->
        <!-- </div> -->
</div>
